*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
header{
    background-color: transparent;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}
.main-nav{
    display:block;
    margin-top: 15px;
    text-align: right;
}
.main-nav ul li {
display: inline-block;
}
.main-nav ul li a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 16px;
    border-radius: 50%;
    margin-right: 15px;
}
section{
    position: relative;
    height: 100vh;
}

#scarpa1{
    background-color: red;

}
#scarpa2{
    background-color: green;
}
#scarpa3{
    background-color: yellow;
}
.box{
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

}
.box h1{
    text-align: center;
    font-size: 45px;

}
.text1{
    color: yellow;
}
.text2{

    color: green;
}
.box img{
    height: 350px;
}